<!DOCTYPE html>
<html>
<head>
    <title>Página de inicio</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>
    <h1>Bienvenido a mi página</h1>
    <button onclick="location.href='/login'">Admins</button>
    <button onclick="location.href='/login'">Empleados</button><br><br><br>
    <br>
    <br>
    <p>Notas</p>
    <div id="chat">
        <div id="mensajes"></div>
        <form id="formulario">
          <input type="text" id="mensaje" placeholder="Escribe un mensaje...">
          <button type="submit">Enviar</button>
        </form>
      </div>
      <script>
          
          // Conectarse al servidor utilizando WebSocket
const socket = new WebSocket('ws://149.56.67.133:5001/');

// Obtener los elementos necesarios del DOM
const formulario = document.querySelector('#formulario');
const mensajeInput = document.querySelector('#mensaje');
const mensajesDiv = document.querySelector('#mensajes');

// Manejar la recepción de mensajes del servidor
socket.addEventListener('message', (event) => {
  const mensaje = event.data;
  const mensajeDiv = document.createElement('div');
  mensajeDiv.textContent = mensaje;
  mensajesDiv.appendChild(mensajeDiv);
});

// Manejar el envío de mensajes desde el formulario de entrada
formulario.addEventListener('submit', (event) => {
  event.preventDefault();
  const mensaje = mensajeInput.value;
  socket.send(mensaje);
  mensajeInput.value = '';
});

    
    </script>
</body>
</html>

